body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
}

.bg {
  background: linear-gradient(281deg, #1648df, #2b015a);
  padding-bottom: 300px;
}
.navbar {
  margin: auto;
  display: grid;
  grid-template-columns: 150px auto 150px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.logo-div {
  text-align: center;
}
.logoo {
  width: 150px;
}

.menu {
  border-bottom: 2px solid grey;
  border-top: 2px solid grey;
  padding-bottom: 20px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-right: 45px;
  margin-top: 20px;
  font-size: 17px;
}
.login {
  margin-right: 50px;
  margin-top: 20px;
}

.login a {
  text-decoration: none;
  color: grey;
  font-family: Arial;
  font-weight: bold;
  padding: 5px 20px;
  border: 1 px solid #fff;
  transition: 0.4s ease-in-out;
}
ul li a {
  text-decoration: none;
  color: grey;
  font-family: Arial;
  font-weight: bold;
  padding: 10px 25px;
  border: 1 px solid transparent;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: whitesmoke;
}
.login a:hover {
  color: whitesmoke;
}
.solid {
  display: flex;
  justify-content: center;
}
hr.solid {
  border-top: 1px solid #bbb;
}
hr.rounded {
  border-bottom: 1px solid #bbb;
}
.foto {
  width: 100%;
  height: 120%;
}
h1 {
  height: 150%;
  color: grey;
}
.rcn {
  margin-top: -150px !important;
}
.n1 {
  width: 50%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.cryptonews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.news {
  margin-bottom: 20px;
}
.news img {
  width: 100%;
}
.news-title a {
  color: grey;
  font-family: Arial;
  font-weight: bold;
}
.get {
  border: 2px solid rgb(31, 11, 105);
  color: rgb(231, 224, 224);
  background-image: linear-gradient(281deg, #546085, #4d04a0);
  border-radius: 25px;
  width: 40%;
  text-align: center;
  margin-left: 30%;
}
.aget {
  color: #fff;
}
a {
  text-decoration: none;
}
