
body {
box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#1f2033;
    }
    
    #header {
        background-color: #1f1b34;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        min-height: 50pt;
        font-size: 10pt;
        margin: 0;
       align-items: center;
    }
  #headM{
      font-size: 10pt;
      color: snow;
      }
    
    #header ul {
    list-style: none;
    }
    
    #header li a {
    text-decoration: none;
    color: snow;
    margin-left: 30px;
    }
    #headD ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    }
    
    #headD {
    display: flex;
    justify-content:center;
    flex: 1;
    align-items: center;
    
    }
    
    li a:hover {
    border-bottom: 2px solid #242525;
    color: rgba(0, 0, 0, 0.952);
    }
    .signin{
      margin-right:20px;
    }
    .main1{
      background-image: url("../img/img1.webp");
     align-items:center;
     position: relative;
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    .h1{
      color: rgb(255, 253, 253);
      font-size: 45px;
      opacity: 0.7;
text-align: center;
font-family: "Times New Roman";
    }
    .p1{
      position: relative;
      color: #fff;
      opacity: .9;
      font-size: 40px;
      width: 80%;
      text-align: center;
      align-items: center;
      font-family: "Times New Roman";
    }
    .watch{
      align-items: center;
      border-radius: 25px;
      border :#5a5769 solid 2px;
      background: rgba(255,255,255,.03);
      opacity: 10;
      width: 40%;
      text-align: center;
      height: 100%;
     
    }
    .get{
      color: rgb(231, 224, 224);
      align-items: center;
       background-image: linear-gradient(
        281deg
        ,#546085,#4d04a0);
      border-radius: 25px;
      width: 40%;
   height: 100%;
      text-align: center;
     margin-top: 30px;
     margin-bottom: 40px;
    }
    main a{
      text-decoration: none;
    }
  .img1{
      display: flex;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
      min-height: 50pt;
      position: relative;
    }
    .aget{
      color:  #fff;
    }
    .awatch{
      color:  #fff;
    }
    .desk{
    position: relative;
    }
    .adesk{
      color: rgb(194, 194, 194);
      text-decoration: none;
      margin-left: 14px;

        }
       .Aadesk{
         display: flex; 
         justify-content: space-between;
        width: 50%;
          height: 40%;
          background: rgba(255, 255, 255, 0.13);
          width: 90%;
        }
      .shenja{
        margin-right: 17px;
      }
        .adesk1{ 
          flex-direction: column;
          color: thistle;
          position: absolute;
          top: 80%;
          left: 80%;
          transform: translate(-50%, -50%);
          font-size: 15px;
          background-image: linear-gradient(
        281deg
        ,#1e49cc,#978ba7);
        min-height: 150px;
        width: 30%;
        padding-left: 30px;
        }

        .section2{
          color: cornsilk;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

        }
        .h1Sec2{
          font-size: 70px;
          width: 75%;
        }
        .p2Sec2{
          font-size: 20px;
          color: #fff;
          opacity: .5;
        }
        .explore{
          border-radius: 25px;
          background-image: linear-gradient(
            281deg
            ,#420be6,#a16bb3);
          opacity: 10;
          width: 40%;
          text-align: center;
          height: 100%;
          margin-top: 25px;

        }
        .explore1{
          color: white;
          text-decoration: none;
        }
.section3{
  color: #fff;
  text-align: center;
 margin-top: 70px;
}
.a1{
  font-size: 50px;
  margin-bottom: -10px;
}
.b1{
  font-size: 15px;
  color: #fff;
  opacity: .5;
}
.C150{
  margin-top: 70px;
  text-align: center;
  color: floralwhite; 
}
.C151{
  font-size: 200px;
  opacity: .5;
}
.C152{
  margin-top:  -150px;
  font-size: 50px;
}
.hexa{
display: flex;
justify-content: space-around;
margin-left: 15%;
margin-right: 15%;
}
#hexa1{
  margin-top: 40px;
}

.hexagon1 {
  position: relative;
  width: 20px; 
  height: 11.55px;
  background-color: #ffc800;
  margin: 5.77px 0;
}

.hexagon1:before,
.hexagon1:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.hexagon1:before {
  bottom: 100%;
  border-bottom: 5.77px solid #ffc800;
}

.hexagon1:after {
  top: 100%;
  width: 0;
  border-top: 5.77px solid #ffc800;
}
.hexagon2 {
  position: relative;
  width: 20px; 
  height: 11.55px;
  background-color: #536ef9;
  margin: 5.77px 0;
}

.hexagon2:before,
.hexagon2:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.hexagon2:before {
  bottom: 100%;
  border-bottom: 5.77px solid #536ef9;
}

.hexagon2:after {
  top: 100%;
  width: 0;
  border-top: 5.77px solid #536ef9;
}
.hexagon3 {
  position: relative;
  width: 20px; 
  height: 11.55px;
  background-color: #4cc62a;
  margin: 5.77px 0;
}

.hexagon3:before,
.hexagon3:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.hexagon3:before {
  bottom: 100%;
  border-bottom: 5.77px solid#4cc62a;
}

.hexagon3:after {
  top: 100%;
  width: 0;
  border-top: 5.77px solid #4cc62a;
}
.hexagon4 {
  position: relative;
  width: 20px; 
  height: 11.55px;
  background-color: #fff5f5;
  margin: 5.77px 0;
}

.hexagon4:before,
.hexagon4:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.hexagon4:before {
  bottom: 100%;
  border-bottom: 5.77px solid#fff5f5;
}

.hexagon4:after {
  top: 100%;
  width: 0;
  border-top: 5.77px solid #fff5f5;
}
.download1{
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
margin-right: 15%;
}

.download2{
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px; 
}
.dow2{
  height: 60px;
  width: 60px;
}
.dow3{
  height: 50px;
  width: 50px;
}
.download3{
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 70px;
}
.dow4{
  height: 55px;
  width: 55px;
}
.download4{
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 70px;
}
.download5{
  display: flex;
  justify-content: space-between;
  margin-left: 13%;
  margin-right: 18%;
  margin-top: 15px;
}
.SEE{
display: flex;
justify-content: center;
text-align: center;
}
.see1{
  border-radius: 25px;
  background-image: linear-gradient(
    281deg
    ,#420be6,#a16bb3);
  opacity: 3;
  width: 40%;
  height: 30px;
margin-top: 60px;
padding-top: 14px;
}
.see2{
  font-family: Roboto,sans-serif;
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.promo{
  margin-right: 12%;
  margin-left: 12%;
  position: relative;
  margin-top: 200px;
  justify-content: center;

}
.promoleads{
  width: 100%;
  height: 180px;
  border-radius: 100px;
}
.btcsvg{
  position:absolute;
  left: 50px;
  top: 30pt;
  width: 70px;
}
.promo1{
  position: absolute;
  left: 150px;
  top: 20pt;
  margin-left: 5px;
  margin-right: 200px;
}
.promo2{
  position: absolute;
  left: 150px;
  top: 80pt;
  margin-left: 5px;
  margin-right: 200px;

}
.promo11{
  font-size: 20px;
  color: rgb(237, 253, 253);
}
.promo22{
  opacity: .5;
  color: #fafafa;
}
.promo3{
  position: absolute;
  text-align: center;
  border-radius: 25pc;
    background-color: #91a00b;
    opacity: 3;
    width: 25%;
    height: 24%;
  margin-top: 60px;
  padding-top: 1%;
  left: 70%;
top:-1px;
}
.promo33{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.mob{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
.mob1{
  font-size: 80px;
  color: #fff;
}
.mob2{
  font-size: 25px;
  opacity: 0.5;
  color: #fff;
}
.mobile{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px;
}
.mob1png{
  width: 100%;
  margin-top: 100px;
}
.mob2png{
  width: 100%;
  margin-top: 200px;
}
.mob3png{
  width: 100%;
}
.sync{
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  text-align: center; 
  font-family: Roboto,sans-serif;
}
.sync1{
  border-right: 1px solid rgba(255,255,255,.1);
  width: 33%;
  font-size: 18px;
}
.pbo{
  opacity: 0.3;
}
.pbc{
  font-size: 42px;
}
.sectionstar{
  border-top:1px solid rgba(255,255,255,.1);
  border-bottom:1px solid rgba(255,255,255,.1);
  padding-top: 70px;
  padding-bottom: 70px;
  
}
.sectionstar1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Excellent{
  color: #fff;
  font-size: 20px;
}
.starimg{
  height: 50px;
}
.starimg1{
  height: 50px;
}
.sectionlink{
  text-decoration: none;
}
.footer{
  margin-top: 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 20%;
  font-size: 0.8rem;
  color: #fff;
  font-family: Roboto,sans-serif;
}
.footer p{
  opacity: 0.3;
}
.signfooter{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 25px;
  background-image: linear-gradient(
    281deg
    ,#420be6,#b987ca);
    width: 25%;
    height: 20%;
    margin-left: 20px;
    margin-top: 30px;
    position:absolute;

}
.signfooter1{
  color: #fff;
  text-decoration: none;
}
.footersocial{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  color: #fff;
}
.logoimgole{
  width: 40px;
  height: 40px;
}
.copyright{
  opacity: 0.3;
  margin-left: 20px;
  margin-right: 20px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: rgba(253, 253, 253, 0.425);
  background-color:rgba(252, 227, 227, 0.089); 
}

.fa-twitter {
  color: rgba(253, 253, 253, 0.425);
  background-color:rgba(252, 227, 227, 0.089); 
}

.fa-google {
  color: rgba(253, 253, 253, 0.425);
  background-color:rgba(252, 227, 227, 0.089); 
}

.fa-linkedin {
  color: rgba(253, 253, 253, 0.425);
  background-color:rgba(252, 227, 227, 0.089); 
}

.fa-youtube {
  color: rgba(253, 253, 253, 0.425);
  background-color:rgba(252, 227, 227, 0.089); 
}

.fa-instagram {
  color: rgba(253, 253, 253, 0.425);
  background-color:rgba(252, 227, 227, 0.089); 
}
.privacy{
  margin-left: 15%;
  margin-right: 15%;
  color: #fff;
  opacity: 0.3;
  margin-top: 60px;
  font-size: 13px;
  line-height: 1.67;
}
.privacy1{
  margin-top: 30px;
}
.policyprivacy{
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 13%;
}
.policyprivacy a{
  color: #ffffff;
  opacity: 0.3;
  font-size: 15px;
}
.slideshow-container{

  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: center;

}
.mySlides{
  width: 30%;
}
.img9ci{
  height: 50%;
  width: 100%;
}
.text {

color: #fcfcfc;
font-size: 15px;
text-align: center;
}
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: #717171;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}